<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_1536302332656">
  <display-name>Archetype Created Web Application</display-name>
  <!-- 加载applicationContext配置文件，默认是/WEB-INF/applicationContext.xml 可以改成别的，此处配置为resources下的applicationContext.xml-->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:applicationContext.xml</param-value>
	 </context-param>
	 <!-- 指定aop初始化方法 -->
	 <listener>
	    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>
	 </listener>
	<!-- 定义mvc的相关内容，配置拦截的url，加载配置文件spring-servlet.xml，将所有/开头的请求都交给SpringMVC这个servlet进行处理。 -->
	<servlet>
	    <servlet-name>Spring</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/spring-servlet.xml</param-value>
	        <!-- 默认是/WEB-INF/[servlet名字]-servlet.xml可以随意修改 -->
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Spring</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
   
